@import "compass";

a { color: $text-color; }

h2 { margin: 0; }

p { margin-top: 0px; }

dl, dt, dd { margin: 0; }

body {
	
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: $text-color;
	background: #e7e7e7 url('../img/themes/light/bg-grain.png') repeat-y top center;
	
}

html, body {

	height: 100%;
	
}

*:focus {

	outline: none;

}

*[disabled] {

	color: gray;

}

input, textarea {

	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: $text-color;

}

select,
input[type=checkbox] {
	cursor: pointer;	
}

input[type=checkbox].customized,
select.custimized {
	opacity: 0;
}