.common-table {

	border: 1px solid $border-color;

	a {

		text-decoration: none;

	}

}


.common-table .table-spacer {

	background: url(../img/themes/light/table-bg-stripes.png) !important;

	td {

		border-left: none;
		border-right: none;
		background: none;

	}

}


.common-table .table-wrapper {

	width: 100%;

	td {

		padding: 0;

	}

}


.common-table header {

	position: relative;
	height: 40px;
	text-align: left;
	vertical-align: middle;
	padding-left: 16px;
	@include background-image(linear-gradient(white, #f7f7fa 1px, #e3e3e5));
	@include box-sizing(border-box);

	h2 {

		font-size: 18px;
		font-weight: normal;
		padding-top: 9px;
		@include text-shadow(0 1px 0 white);

	}

	.toggle {

		position: absolute;
		width: 55px;
		height: inherit;
		top: 0px;
		right: 0px;
		background: url(../img/themes/light/table-toggle-arrow.png) no-repeat center center;
		cursor: pointer;

		&:hover { opacity: 0.5; }

	}

}


.common-table .table-content {

	width: 100%;

}

.common-table th {

	color: gray;

	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;

	&:first-of-type { border-left: 0; }
	&:last-of-type { border-right: 0; }

	height: 30px;
	font-size: 11px;
	text-align: left;
	font-weight: normal;
	padding-left: 7px;
	padding-right: 7px;
	border-top: 1px solid $border-color;
	@include background-image(linear-gradient(white, #f7f7fa 1px, #ededee 95%, #666));

	.required {
		font-size: 130%;
	}

}

.common-table th.icon-photo {
	background: #ededee url('../img/themes/light/table-photo.png') center center no-repeat !important;
}

.common-table .hover-rows tr:hover td {
	background-color: $table-bg-hover-row !important;
}

.common-table td {

	color: $text-color;

	padding: 0;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;

	&:first-of-type { border-left: 0; }
	&:last-of-type { border-right: 0; }

	height: 25px;
	background-color: $table-bg-color;

	.innerWrapper input[type=text],
	.innerWrapper input[type=password],
	.innerWrapper textarea {

		&:not([readonly]) {
			@include background-image(linear-gradient(#bcbcbc, #D6D6D6 4px));
		}

	}

	input {

		background: none;
		padding-left: 6px;
		padding-right: 6px;

	}

}


.table-content td:not(.abs-pos-content) {

	padding-left: 7px;
	padding-right: 7px;

}


.common-table .abs-pos-content {

	input {

		width: 95%;
		border: none;

	}

	select {

		width: 100%;
		height: 100%;
		padding-top: 4px;
		-webkit-appearance: menulist-button;

	}

	textarea {

		width: 100%;
		height: 100%;
		border: none;
		padding: 7px;
		@include box-sizing(border-box);

	}

	.innerWrapper {

		position: relative;
		width: 100%;

		input, select {

			position: absolute;
			width: 100%;
			height: 100%;
			@include box-sizing(border-box);

		}

	}

}