
/* ==========================================================================
   Common button
   ========================================================================== */

.common-button {

	height: 28px;
	border: 1px solid $border-color;
	padding: 6px;
	font-size: 11px;
	color: $button-text-color;
	@include background-image(linear-gradient(white, #f7f7fa 1px, #e2e2e4));
	@include box-shadow(rgba(34, 34, 40, 0.25) 0 1px 1px);
	@include box-sizing(border-box);

	&:hover {

		color: #666;
		@include box-shadow(none);
		/*
		background: #9dddf0;
		@include box-shadow(rgba(34, 34, 40, 0.25) 0 1px 1px, inset 0 0 10px #888);
		*/

	}

	&:active {

		background: darken(#9dddf0,5%);
		@include box-shadow(inset 0 0 10px #888, white 0 1px 1px);

	}

}