.icon-x {
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: url(../img/themes/light/icon-x.png) no-repeat center center;

	&:hover {
		opacity: 0.5;
	}
}

.icon-dropdown {
	cursor: pointer;
	width: 20px;
	height: 15px;
	background: url(../img/themes/light/icon-dropdown.png) no-repeat center center;

	&:hover {
		opacity: 0.5;
	}
}

.icon-note {
	cursor: pointer;
	width: 11px;
	height: 11px;
	background: url(../img/themes/light/icon-note.png) no-repeat top right;

	&:hover {
		opacity: 0.5;
	}
}