
/* ==========================================================================
   Common modal window
   ========================================================================== */

.common-modal {

	display: inline-block;
	width: 402px;
	border: 1px solid $border-color;
	@include _modal-shadow();

}

.common-modal header {

	position: relative;
	display: block;
	height: 40px;
	border-bottom: 1px solid $border-color;
	background-color: #ededef;
	@include background-image(linear-gradient(white, #f6f6f9 1px, #e2e2e4));

	h2 {

		position: absolute;
		font-weight: normal;
		top: 10px;
		left: 15px;
		font-size: 15px;
		color: black;

	}

	.required-fields-notice {

		position: absolute;
		top: 12px;
		right: 20px;
		font-size: 12px;

	}

	.close {

		position: absolute;
		cursor: pointer;
		top: 14px;
		right: 16px;
		width: 12px;
		height: 11px;
		background: url(../img/themes/light/modal-close.png);

		&:hover {

			opacity: 0.5;

		}

	}

}

.common-modal  .content {

	position: relative;
	height: 90px;
	background: #e6e6e7 url(../img/themes/light/modal-bg-stripes.png);

}

.common-modal  .content input {

	position: absolute;
	width: 180px;
	height: 26px;
	border: 1px solid $border-color;
	padding: 7px;
	font-size: 11px;
	color: $modal-input-text-color;
	background-color: #e6e6e6;
	@include box-sizing(border-box);

	&:not([readonly]) {
		@include background-image(linear-gradient(#d0d0d1, #e6e6e6 5px));
	}

	&::-webkit-input-placeholder {
		color: $modal-input-placeholder-color;
	}

	&:focus::-webkit-input-placeholder {
		color: rgba(0,0,0,0.2);
	}

	&:-moz-placeholder {

		color: $modal-input-text-color;

	}

	&:-ms-input-placeholder {

		color: $modal-input-text-color;

	}

	&:hover,
	&:focus {

		border: 1px solid $modal-input-border-hover-color;

	}

}

.common-modal  .content button {

	position: absolute;
	width: 85px;

}
