
/* ==========================================================================
   Common floater
   ========================================================================== */

.common-floater {

	position: absolute;
	z-index:10;
	border: 1px solid #969696;
	background: $floater-bg-color;
	@include background-image(linear-gradient(white, #f6f6f9 1px, #e2e2e4));
	@include box-shadow(rgba(0, 0, 0, 0.40) 0 4px 13px);
	@include box-sizing(border-box);

	.title {

		font-size: 13px;
		border-bottom: 1px solid $floater-border-color;
		padding-bottom: 7px;
		margin-bottom: 9px;

	}

}