
/* ==========================================================================
   Content
   ========================================================================== */

.page-content-wrapper {
	
	/*@extend .clearfix;*/
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	
}

.page-content {
	
	vertical-align: top;
	/*width: 715px;*/
	/*float: left;*/
	
}

.page-sidebar {
	
	vertical-align: top;
	width: 222px;
	max-width: 222px;
	padding-left: 20px;
	/*min-height: 700px;*/
	/*float: right;*/

	.banner {
		/*height: 700px;*/
		/*border: 1px solid $border-color;*/
	}
		
}
