@import "compass";

.text-padding-right { padding-right: 20px !important; }

.text-align-right { text-align: right!important; }
.text-align-center { text-align: center!important; }

.float-left { float: left; }

.hidden { display: none; }

.modal-wrap {

	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(215,215,215,0.7);

}

.modal-wrap > tbody > tr > td {

	text-align: center;
	vertical-align: center;

}

.bg-stripes {

	background: url(../img/themes/light/table-bg-stripes.png);

	td {
		background: none!important;
	}

}


/*
 * CodeIgniter form validation errors
 *
 */
 
.error-form-valid {
	color: red;
	margin-bottom: 10px;
}


/*
 * ezMark checkbox jQuery Plugin
 *
 */

.ez-hide { opacity: 0; filter:alpha(opacity=0); }
.ez-checkbox {
	width: 17px;
	height: 17px;
	background: url('../img/themes/light/checkbox.png') 0 0 no-repeat;
	display:inline-block;
	zoom: 1;
	*display: inline;
	_height: 17px;
}
.ez-checked { background-position: 0 -17px; }


/*
 * customSelect dropdown jQuery Plugin
 *
 */

.customSelect {
	cursor: pointer;
	position: static;
	padding-left: 7px;
	padding-top: 2px;
	height: inherit;
	/*background: url('../img/themes/light/dropdown-arrow.png') center right no-repeat ;*/
}

.customSelect.changed {
	/* You can use this if you want a different style after user has made a selection */
}

.customSelectFocus {
	/* You can use this if you want a different style after user has made a selection */
}

.customSelectOpen {
	/* You can use this if you want a different style after user has made a selection */
}

/* We can style the inner box, too */
.customSelectInner {
}


/*
 * customize jQuery UI datepicker
 *
 */

.dropdown {

	position: relative;

	.icon-dropdown {
		position: absolute;
		top: 5px;
		right: 2px;
	}

	&:hover .icon-dropdown {
		opacity: 0.5;
	};

}

.datepicker-trigger {
	cursor: pointer;
}

.datepicker-alt {
	cursor: default;
}

.ui-datepicker {

	font-size: 12px !important;
	@include background-image(linear-gradient(white, #ededee));

	&.ui-corner-all {
		@include border-radius(0);
	}

	.ui-datepicker-header {
		background: none;
		border: none;
		font-weight: normal;
	}

	.ui-datepicker-calendar {

		thead {
			font-weight: normal !important;
		}

		a:hover {
			border-color: #71cce4;			
		}

		.ui-state-default,
		.ui-state-highlight {
			border-color: transparent;
			background-image: none;
			background-color: #e1e1e1;
		}

		.ui-state-active {
			background-color: white;
			border-color: #71cce4;
		}		

	}

}
