
/* ==========================================================================
   Footer
   ========================================================================== */

.page-footer-wrapper {

	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;

	.banner {

		display: inline-block;
		width: $page_width;
		/*height: 230px;*/
		border: 1px solid $border-color;

	}

}
