@import "compass";

/* ==========================================================================
   Header
   ========================================================================== */

.page-header {
	
	position: relative;
	width: 100%;
	padding-bottom: 26px;
	background-image: url(../img/themes/light/header-shadow.png);
	background-repeat: repeat-x;
	background-position: bottom left;

}

.page-header .top-wrapper {

	background-color: #f1f1f2;

	.top-content {
	
		position: relative;
		width: $page-width;
		height: 30px;
		margin-left: auto;
		margin-right: auto;
		
		a {
			
			position: absolute;
			top: 6px;
			right: 0;
			background: url(../img/themes/light/account-arrow-down.png) no-repeat center right;
			text-decoration: none;
			font-size: 12px;
			padding-right: 20px;
			@include text-shadow(0 1px 0 white);
			
		}

	}
	
}

.page-header .header-wrapper {

	border-top: 1px solid $border-color;
	
	.header-content {
	
		position: relative;
		width: 960px;
		height: 155px;
		margin-left: auto;
		margin-right: auto;
	
		.logo {
			
			position: absolute;
			top: 30px;
			left: 0;
			display: block;
			width: 220px;
			height: 90px;
			border: 1px solid $header-border-color;
			text-indent: -9999px;
			background-image: url(../img/themes/light/placeholders/header-logo.png);
			
		}
	
		.banner {
			
			position: absolute;
			top: 30px;
			left: 230px;
			width: 730px;
			height: 90px;
			border: 1px solid $header-border-color;
			background-image: url(../img/themes/light/placeholders/header-banner.png);
	
		}
		
	}

}

.page-header .navigation-wrapper {
	
	width: 100%;
	border-bottom: 1px solid $border-color;
	background-color: $header-nav-bg-color;
	
	.row-wrapper {

		border-top: 1px solid $border-color;
		@include background-image(linear-gradient(white, #f7f7f8 1px, #ededee));
		
		.row-content {
			
			width: $page-width;
			margin-left: auto;
			margin-right: auto;
			@extend .clearfix;
			
		}
		
	}
	
}

.page-header .navigation-wrapper {
	
	.header-nav-logreg,
	.header-nav-cats {
			
		height: 50px;
	
		.header-button {
			
			width: 240px;
			height: 50px;
			float: left;
			line-height: 50px;
			font-size: 17px;
	
		}
		
	}

}

.page-header .navigation-wrapper {

	.header-nav-inventory,
	.header-nav-account {
	
		height: 40px;
		
		.header-button {
		
			display: block;
			width: 140px;
			height: inherit;
			float: left;
			line-height: 40px;
			font-size: 14px;
	
		}
	
	}
	
}

.page-header .navigation-wrapper .header-nav-inventory .dropdown-vozila {

	width: 232px;
	height: 24px;
	margin-top: 6px;
	padding-top: 3px;
	margin-right: 10px;
	border: 1px solid $border-color;
	background: url('../img/themes/light/dropdown-arrow-separator.png') no-repeat center right;

	.customSelectInner {

		width: 200px !important;
		white-space: nowrap; 
		overflow: hidden; 
		text-overflow: ellipsis;

	}
	
}

.page-header .navigation-wrapper .header-nav-inventory .alarms {

	float: left;
	height: inherit;
	margin-right:15px;
	cursor: default;

	.alarm {
	
		position: relative;
		float: left;
		display: inline-block;
		width: 50px;
		height: inherit;
		background-repeat: no-repeat;
		background-position: center center;
		text-decoration: none;

		&.icon-alarm-type-1 { background-image: url(../img/themes/light/alarms-icons-header-default.png) }
		&.icon-alarm-type-2 { background-image: url(../img/themes/light/alarms-icons-header-default.png) }
		&.icon-alarm-type-3 { background-image: url(../img/themes/light/alarms-icons-header-default.png) }
		&.icon-alarm-type-4 { background-image: url(../img/themes/light/alarms-icons-header-default.png) }
		&.icon-alarm-type-5 { background-image: url(../img/themes/light/alarms-icons-header-akumulator.png) }
	
		span {
			
			position: absolute;
			top: 3px;
			right: 0;
			display: block;
			width: 20px;
			height: 20px;
			font-size: 10px;
			text-align: center;
			line-height: 20px;
			font-weight: bold;
			letter-spacing: -1px;
			padding-right: 1px;
			
		}
	
		.yellow-circle { background: url(../img/themes/light/notification-yellow.png) no-repeat 1px 0 }
		.blue-circle { background: url(../img/themes/light/notification-blue.png) no-repeat 1px 0 }

	}

}

.page-header .navigation-wrapper .header-nav-inventory .with-icon {

	position: relative;
	text-align: right;
	padding-right: 10px;

	.icon-money {
	
		position: absolute;
		width: 23px;
		height: 27px;
		top: 6px;
		left: 15px;
		@extend .header-inventory-icons-money-normal;

	}

	&:hover .icon-money,
	&.active .icon-money {
		@extend .header-inventory-icons-money-active;
	}

	.icon-statistics {
	
		position: absolute;
		width: 23px;
		height: 27px;
		top: 6px;
		left: 15px;
		@extend .header-inventory-icons-statistics-normal;
	
	}

	&:hover .icon-statistics,
	&.active .icon-statistics {
		@extend .header-inventory-icons-statistics-active;
	}

}

.header-button {

	display: block;
	text-align: center;
	text-decoration: none;
	color: $header-text-color;
	border-color: $border-color;
	border-style: solid;
	border-width: 0;
	border-left-width: 1px;
	@include box-sizing(border-box);
	@include text-shadow(0px 1px 0px white);

	&:hover {
		
		color: black;
		@include box-shadow(inset 0 0 20px #aaa);
		
	}	

	&.active {
		
		color: black;
		background: #9dddf0 url(../img/themes/light/button-arrow-bottom.png) no-repeat bottom center;
		@include box-shadow(inset 0 0 15px #888);
		
	}	

	&:last-of-type {
		
		border-right-width: 1px;
		
	}
	
}
