@mixin _floater-icon($icon) {
	$img: '../img/themes/light/floater-'+$icon+'.png';
	background: url($img) 0 0 no-repeat;
}


@mixin _gallery-icon($icon) {
	$img: '../img/themes/light/gallery-'+$icon+'.png';
	background: url($img) center center no-repeat;
}


@mixin _modal-shadow() {
	@include box-shadow(rgba(0, 0, 0, 0.40) 0 0px 25px);
}


@mixin _floater-arrow-up() {

	$arrow_width: 10px; 
	$arrow_border: 1px;

	&:after, &:before {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: transparent;
		border-bottom-color: #f6f6f9;
		border-width: $arrow_width;
		left: 50%;
		margin-left: -$arrow_width;
	}

	&:before {
		border-color: transparent;
		border-bottom-color: $border-color;
		border-width: $arrow_width + $arrow_border;
		left: 50%;
		margin-left: - ($arrow_width + $arrow_border);
	}

}


@mixin _floater-arrow-left() {

	$arrow_width: 10px; 
	$arrow_border: 1px;

	&:after, &:before {
		right: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: transparent;
		border-right-color: $floater-bg-color;
		border-width: $arrow_width;
		top: 50%;
		margin-top: -$arrow_width;
	}

	&:before {
		border-color: transparent;
		border-right-color: $border-color;
		border-width: $arrow_width + $arrow_border;
		top: 50%;
		margin-top: - ($arrow_width + $arrow_border);
	}

}