// Page
$page_width: 960px;
$text-color: #333;

// Page header
$header-nav-bg-color: #f2f2f3;
$header-text-color: #777;
$header-border-color: #e0e0e0; // placeholders
$border-color: #969696;

// Modals
$modal-input-text-color: rgba(0,0,0,0.8);
$modal-input-placeholder-color: rgba(0,0,0,0.5);
$modal-input-border-hover-color: #666;

// Floaters
$floater-bg-color: #ececee;
$floater-border-color: #969696;

// Table
$table-bg-color: #d6d6d6;
$table-bg-odd-color: #e6e6e6;
$table-bg-hover-row: #79d0e9;

// Button
$button-text-color: #0077C7;