<!DOCTYPE html>
<html ng-app="myApp" ng-controller="indexCtrl">

    <head>
        <meta charset="UTF-8" />
        <link href="assets/stylesheets/screen-theme-default.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <title>{{naslov}}</title>
    </head>

    <body>

      <!-- Page header -->
      <div class="page-header">

          <div class="top-wrapper">
              <div class="top-content"></div>
          </div>
      
          <div class="header-wrapper">
              <div class="header-content">
                  <a class="logo" href=".">CARB00K</a>
                  <div class="banner"></div>
              </div>
          </div>

                    
          <nav class='navigation-wrapper'>

              <div class="row-wrapper">
                  <div class="row-content header-nav-logreg">
                      <a href="login" ng-click="openLoginModal($event)" class="header-button" data-trigger="modal-login">PRIJAVI SE</a>
                      <a href="register" class="header-button" data-trigger="modal-register">REGISTRIRAJ SE</a>
                  </div>
              </div>


          </nav>
            
        </div>


        <!-- Page content -->

        <div class="page-content-wrapper">
            
            <div class="page-content">

              <h1>Lorem ipsum</h1>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et arcu pellentesque orci mollis adipiscing. Maecenas dictum pretium dui quis commodo. Sed porta lacus sit amet arcu gravida id consectetur urna ornare. Quisque mi quam, elementum sed dignissim eu, facilisis suscipit tellus. Aliquam quis consequat lorem. Suspendisse potenti. Maecenas ac eros id massa vehicula pulvinar. Fusce eleifend massa rutrum dolor gravida quis mattis mi aliquam. Sed tristique rutrum lorem nec rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec ornare sem et nulla venenatis id commodo nisl molestie. Pellentesque orci leo, sodales in hendrerit gravida, dictum vel mi.</p>

        </div>


        <div class="page-sidebar">
        </div>

        
      </div>


      <!-- Partials -->
      <ng-include src="'app/partials/modal-login.html'"></ng-include>

      <!-- Google Web Font -->
      <script src="app/lib/googlewebfont.js"></script>

      <!-- AngularJS -->
      <script src="app/lib/angular/angular.js"></script>
      <script src="app/js/app.js"></script>
      <script src="app/js/services.js"></script>
      <script src="app/js/controllers.js"></script>
      <script src="app/js/filters.js"></script>
      <script src="app/js/directives.js"></script>


  </body>
</html>