
/* ==========================================================================
   Floater vehicle
   ========================================================================== */

.floater-vehicle {

	width: 270px;
	height: 128px;
	padding: 15px;
	@extend .clearfix;
	@include _floater-arrow-up();

	.vehicle-image {

		float: left;
		width: 93px;
		height: 93px;
		margin-right: 11px;
		border: 1px solid #969696;

	}

	.title {

		float: left;
		width: 130px;
		margin-top: -3px;
		white-space: nowrap; 
		overflow: hidden; 
		text-overflow: ellipsis;
		position: relative;
		
	}

	.vehicle-options {

		float: left;

		a {

			display: block;
			color: #717b85;
			width: 130px;
			height: 22px;
			padding-left: 25px;
			font-size: 11px;
			padding-top: 1px;
			text-decoration: none;
			@include box-sizing(border-box);

			&:hover {
				color: black;
			}

		}

		.vehicle-option-prodaj { @extend .floaters-icons-dollar-default; }
		.vehicle-option-prodaj:hover { @extend .floaters-icons-dollar-hover; }

		.vehicle-option-obrisi { @extend .floaters-icons-krizic-default; }
		.vehicle-option-obrisi:hover { @extend .floaters-icons-krizic-hover; }

		.vehicle-option-premjesti { @extend .floaters-icons-desno-default; }
		.vehicle-option-premjesti:hover { @extend .floaters-icons-desno-hover; }

	}

}