
/* ==========================================================================
   Floater vehicle photo
   ========================================================================== */

.floater-vehicle-photo {

	display: inline-block;
	width: auto;
	padding: 5px;
	@include _floater-arrow-left();

	img {

		width: 93px;
		height: 93px;
		border: 1px solid #969696;

	}

}