
/* ==========================================================================
   Floater window for generic text
   ========================================================================== */

.floater-note {

	max-width: 265px;
	padding: 5px 8px;
	font-size: 11px;
	text-align: justify;
	@include _floater-arrow-up();

}