
/* ==========================================================================
   Floater window for costs
   ========================================================================== */

.floater-cost {

	display: inline-block;
	padding: 15px;
	@extend .clearfix;
	@include _floater-arrow-up();

	.title {

	}

	.options {

		float: left;

		a {

			display: block;
			color: #717b85;
			height: 22px;
			padding-left: 25px;
			font-size: 11px;
			padding-top: 1px;
			text-decoration: none;

			&:hover {

				color: black;

			}

		}

		.option-uredi { @extend .floaters-icons-uredi-default; }
		.option-uredi:hover { @extend .floaters-icons-uredi-hover; }

		.option-obrisi { @extend .floaters-icons-krizic-default; }
		.option-obrisi:hover { @extend .floaters-icons-krizic-hover; }

	}

}