
/* ==========================================================================
   Floater window for alarm in costs
   ========================================================================== */

.floater-alarm {

	display: inline-block;
	padding: 15px;
	@extend .clearfix;
	@include _floater-arrow-up();

	.title {

	}

	.options {

		float: left;

		a {

			display: block;
			color: #717b85;
			height: 22px;
			padding-left: 25px;
			font-size: 11px;
			padding-top: 1px;
			text-decoration: none;

			&:hover {

				color: black;

			}

		}

		.option-promjeni { @include _floater-icon("usklicnik"); }
		.option-promjeni:hover { @include _floater-icon("usklicnik-hover"); }

		.option-obrisi { @include _floater-icon("krizic"); }
		.option-obrisi:hover { @include _floater-icon("krizic-hover"); }

	}

}