
/* ==========================================================================
   Floater user
   ========================================================================== */

.floater-user {

	width: 270px;
	height: 128px;
	padding: 15px;
	@extend .clearfix;

	.user-img {

		float: left;
		width: 93px;
		height: 93px;
		margin-right: 11px;
		border: 1px solid #969696;

	}

	.title {

		float: left;
		width: 130px;
		margin-top: -3px;

	}

	.user-options {

		float: left;

		a {

			display: block;
			color: #717b85;
			height: 22px;
			padding-left: 25px;
			font-size: 11px;
			padding-top: 1px;
			text-decoration: none;

			&:hover {

				color: black;

			}

		}

		.user-option-profil { @extend .floaters-icons-profil-default; }
		.user-option-profil:hover { @extend .floaters-icons-profil-hover; }

		.user-option-postavke { @extend .floaters-icons-postavke-default; }
		.user-option-postavke:hover { @extend .floaters-icons-postavke-hover; }
		
		.user-option-odjava { @extend .floaters-icons-krizic-default; }
		.user-option-odjava:hover { @extend .floaters-icons-krizic-hover; }

	}

}