/* ==========================================================================
   Modal add vehicle
   ========================================================================== */

.modal-vehicle-add {

	width: 685px;

}

.modal-vehicle-add header {

	border-bottom: none;

}

.modal-vehicle-add .common-table {

	border: none;

}

.modal-vehicle-add .table-content {

	col:nth-of-type(1) { width: 135px; }
	col:nth-of-type(2) { width: 135px; }
	col:nth-of-type(3) { width: 135px; }
	col:nth-of-type(4) { width: 70px; }
	col:nth-of-type(5) { width: 90px; }
	col:nth-of-type(6) { width: auto; }

}

.modal-vehicle-add  .abs-pos-content .innerWrapper input {

	position: relative !important;

}

.modal-vehicle-add footer {

	@include box-sizing(border-box);

	border-top: 1px solid $border-color;
	height: 50px;
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;

}