/* ==========================================================================
   Modal login
   ========================================================================== */

.modal-login {

	input[name="username"] {

		top: 14px;
		left: 14px;

	}

	input[name="password"] {

		top: 14px;
		right: 15px;

	}

	button {

		top: 50px;
		right: 15px;

	}

	.lost-password {

		position: absolute;
		top: 59px;
		left: 22px;
		font-size: 11px;
		color: $modal-input-text-color;
		text-decoration: none;

		&:hover {

			text-decoration: underline;

		}

	}

}