/* ==========================================================================
   Modal window for selling vehicle
   ========================================================================== */

.modal-vehicle-sell {

	width: 685px;
	display: inline-block;

	.col-brand { width: 135px; }
	.col-type { width: 135px; }
	.col-model { width: 135px; }
	.col-year { width: 65px; }
	.col-km { width: 90px; }
	.col-fuel { width: auto; }

	.col-location { width: 135px; }
	.col-price { width: 135px; }

	header {
		border-bottom: none;
	}

	.common-table {
		border: none;
	}

	td {
		text-align: left;
	}

	.col-buttons {

		width: 414px;

		.wrapper {

			position: absolute;
			width: 100%;
			height: 100%;
			text-align: right;
			padding-right: 10px;
			border-top: 1px solid $border-color;
			@include box-sizing(border-box);

			button {

				margin-top: 14px;

			}

		}	

	}

}
