
/* ==========================================================================
   Modal window for adding or editing cost
   ========================================================================== */

.modal-cost {

	width: 685px;
	display: inline-block;

	.col-cal-date { width: 175px; }
	.col-cal-year { width: 65px; }
	.col-km { width: 80px; }
	.col-type { width: 190px; }
	.col-location { width: auto; }

	.col-quantity { width: 80px; }
	.col-price { width: 95px; }
	.col-alarm { width: 100px; }
	.col-alarm-cal-date { width: 175px; }
	.col-alarm-cal-year { width: 60px; }
	.col-buttons { width: auto; }

	header {
		border-bottom: none;
	}

	.common-table {
		border: none;
	}

	th {
		position: relative;

		.icon-x {
			position: absolute;
			top: 9px;
			left: 5px;
		}
		
	}

	td {
		text-align: left;
	}

	textarea {
		height: 50px !important;
		resize: none;
	}

	.button {

		width: 180px;

		.wrapper {

			position: absolute;
			width: 100%;
			height: 100%;
			text-align: center;
			border-top: 1px solid $border-color;
			@include box-sizing(border-box);

			button {

				margin-top: 14px;

			}

		}	

	}

}