
/* ==========================================================================
   Modal register
   ========================================================================== */

.modal-register {

	input[name="username"] {

		top: 14px;
		left: 14px;

	}

	input[name="password"] {

		top: 14px;
		right: 15px;

	}

	input[name="email"] {

		top: 51px;
		left: 14px;

	}

	button {

		top: 50px;
		right: 15px;

	}

}
