/* ==========================================================================
   Modal change password
   ========================================================================== */

.modal-change-password {

	width: 450px;

}

.modal-change-password header {

	border-bottom: none;

}

.modal-change-password .common-table {

	border: none;

}

.modal-change-password .table-content col {

	&:nth-child(1) { width: 150px; }
	&:nth-child(2) { width: 150px; }
	&:nth-child(3) { width: auto; }

}

.modal-change-password  .abs-pos-content .innerWrapper input {

	position: relative !important;

}

.modal-change-password footer {

	@include box-sizing(border-box);

	border-top: 1px solid $border-color;
	height: 50px;
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;

}