.table-user-personal-data {

	.table-wrapper {

		.col-1 { width: 128px; }
		.col-2 { width: 372px; }
		.col-3 { width: auto; }

	}

	.table-content {

		.col-username { width: 160px; }
		.col-password { width: auto; }

		.col-name { width: 160px; }
		.col-surname { width: 190px; }
		.col-email { width: auto; }

		.col-address-street { width: 277px; }
		.col-address-city { width: 190px; }
		.col-address-zip { width: 60px; }
		.col-address-country { }

		.col-phone { width: 277px; }
		.col-birthday-date { width: 190px; }
		.col-birthday-year { width: 60px; }
		.col-sex { }

	}

	.separator {

		border-top: 1px solid $border-color;
		height: 30px;

	}

	.icon-dropdown {
		position: absolute;
		top: 5px;
		right: 2px;
	}

}

.table-user-personal-data .user-image {

	width: 118px;

	img {

		display: block;
		width: 0;
		height: 0;
		border-top: 1px solid $border-color;
		@include box-sizing(border-box);

	}

	.innerWrapper img {

		position: absolute;
		width: 100%!important;
		height: 100%!important;

	}

}

.table-user-personal-data .user-password-button {

	width: 270px;

	.user-password-wrapper {

		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		border-top: 1px solid $border-color;
		@include box-sizing(border-box);

		button {

			margin-top: 14px;

		}

	}

}


.table-user-personal-data footer {

	@include box-sizing(border-box);

	border-top: 1px solid $border-color;
	height: 50px;
	padding-top: 10px;
	padding-left: 10px;

}
