/* ==========================================================================
   Table vehicle
   ========================================================================== */

.table-vehicle .table-wrapper {

	.col-1 { width: 55px; }
	.col-2 { width: 305px; }
	.col-3 {
		width: 350px;
		border-left: 1px solid $border-color;
		border-top: 1px solid $border-color;
	}

}

.table-vehicle .table-wrapper .vehicle-image {

	img {

		display: block;
		width: 0;
		height: 0;
		border-top: 1px solid $border-color;
		@include box-sizing(border-box);

	}

	.innerWrapper img {

		position: absolute;
		width: 100%!important;
		height: 100%!important;

	}

}

.table-vehicle .table-content {

	.col-name { width: 185px; }
	.col-number { width: 120px; }

}

.table-vehicle footer {

	@include box-sizing(border-box);

	border-top: 1px solid $border-color;
	height: 50px;
	padding-top: 10px;
	padding-left: 10px;

}