/* ==========================================================================
   Table vehicle fuel
   ========================================================================== */

.table-vehicle-fuel {

	colgroup col { width: 25%; }

}


.table-vehicle-fuel footer {

    @include box-sizing(border-box);

    border-top: 1px solid $border-color;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;

}


/*
html.Webkit {

	.table-vehicle-fuel input[type=checkbox] {

		margin-left: 45%;
		width: auto;

	}

}
*/