/* ==========================================================================
   Table vehicles
   ========================================================================== */

.table-vehicles {
	cursor: default;
}

.table-vehicles table {
	table-layout: fixed;
}

.table-vehicles colgroup {

	.col-img { width: 25px; }
	.col-title { width: 270px; }
	.col-year { width: 60px; }
	.col-plate { width: 110px; }
	.col-km { width: 100px; }
	.col-cost { width: auto; }

}

.table-vehicles.common-table th {

	@include background-image(linear-gradient(white, #f7f7fa 1px, #ededee));
	border-bottom: none;

}

.table-vehicles.common-table .table-content {

	border-color: $border-color;
	border-top: none!important;
	border-left: none!important;
	border-right: none!important;
	border-bottom: none!important;

	tr:nth-child(even) td {
		background-color: $table-bg-odd-color;
	}

	td {

		border-color: $border-color;
		position: relative;
		white-space: nowrap; 
		overflow: hidden; 
		text-overflow: ellipsis;
		position: relative;

		.icon-dropdown {

			position: absolute;
			top: 5px;
			right: 5px;

		}

	}

}

.table-vehicles .vehicle-image {

	img {

		display: block;
		width: 0;
		height: 0;
		@include box-sizing(border-box);

	}

	.innerWrapper img {

		position: absolute;
		width: 100%!important;
		height: 100%!important;

	}

}

.table-vehicles div.alarms {

	position: absolute;
	z-index: 1;
	left: -1px;
	bottom: -26px;
	height: 26px;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
	background-color: inherit;

	.alarm {

		position: relative;
		float: left;
		display: block;
		width: 30px;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		text-decoration: none;

		&.icon-alarm-type-1 { background-image: url(../img/themes/light/alarms-icons-table-gorivo.png) }
		&.icon-alarm-type-2 { background-image: url(../img/themes/light/alarms-icons-table-servis.png) }
		&.icon-alarm-type-3 { background-image: url(../img/themes/light/alarms-icons-table-gume-ljetne.png) }
		&.icon-alarm-type-4 { background-image: url(../img/themes/light/alarms-icons-table-gume-zimske.png) }
		&.icon-alarm-type-5 { background-image: url(../img/themes/light/alarms-icons-table-akumulator.png) }
		&.icon-alarm-type-kocnice { background-image: url(../img/themes/light/alarms-icons-table-kocnice.png) }
		&.icon-alarm-type-notes { background-image: url(../img/themes/light/alarms-icons-table-notes.png) }

	}

}

.table-vehicles footer {
	padding: 12px;
}

.table-vehicles-ex .table-content td {

	border-bottom: none;
	position: relative;

	.icon-dropdown {

		position: absolute;
		top: 5px;
		right: 5px;

	}
}