/* ==========================================================================
   Table costs
   ========================================================================== */

.table-costs-all {
	cursor: default;
}

.table-costs-all table {
	table-layout: fixed;
}

.table-costs-all colgroup {

	.col-img { width: 25px; }
	.col-name { width: 150px; }
	.col-date { width: 95px; }
	.col-km { width: 80px; }
	.col-type { width: 120px; }
	.col-place { width: 110px; }
	.col-note { width: auto; }
	.col-quantity { width: 70px; }
	.col-price { width: 100px; }
	.col-alarm { width: 115px; }

}

.table-costs-all .toggle-year {

	position: absolute;
	right: 60px;
	top: 7px;
	width: 26px;
	height: 27px;
	border: 0;
	background: url(../img/themes/light/icon-calendar.png);

	&:hover { background: url(../img/themes/light/icon-calendar-hover.png); }
	&.active { background: url(../img/themes/light/icon-calendar-active.png); }

}

.table-costs-all.common-table th {

	@include background-image(linear-gradient(white, #f7f7fa 1px, #ededee));
	border-bottom: none;

}

.table-costs-all.common-table .table-content {

	border-color: $border-color;
	border-top: none!important;
	border-left: none!important;
	border-right: none!important;
	border-bottom: none!important;

	tr:nth-child(even) td {
		background-color: $table-bg-odd-color;
	}

	td {
		border-color: $border-color;
		border-bottom: none;
		white-space: nowrap; 
		overflow: hidden; 
		text-overflow: ellipsis;
		position: relative;

		.icon-note {
			position: absolute;
			top: 0;
			right: 0;
		}

		.icon-dropdown {
			position: absolute;
			top: 5px;
			right: 5px;
		}

	}

}

.table-costs-vehicle.common-table .table-content tr.row-year td {
	padding-left: 24px;
}

.table-costs-all .vehicle-image {

	img {

		display: block;
		width: 0;
		height: 0;
		@include box-sizing(border-box);

	}

	.innerWrapper img {

		position: absolute;
		width: 100%!important;
		height: 100%!important;

	}

}
