/* ==========================================================================
   Table vehicle gallery
   ========================================================================== */

.table-vehicle-gallery .content {

	border-top: 1px solid $border-color;
	@extend .clearfix;

	.upload {

		dt { 
			background-color: #d6d6d6;
		}

		a {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background: url(../img/themes/light/gallery-add.png) no-repeat center center;

			&:hover {
				opacity: 0.5;
			}
		}

	}

	dl {

		float: left;
		width: 239px;
		height: 180px;
		border: 1px solid $border-color;
		margin-bottom: -1px;
		margin-left: -1px;
		background: #e6e6e6;
 		@include box-sizing(border-box);

 		&:nth-of-type(1),
 		&:nth-of-type(2),
 		&:nth-of-type(3) {
 			border-top: none;
 		}

 		&:nth-of-type(3n) {
 			width: 238px;
 			border-right: none;
 		}

		dt {

			position: relative;
			border-bottom: 1px solid $border-color;
			/*height: 140px;*/
			height: 100%;

			.options {

				display: none;
				position: absolute;
				top: 0;
				right: 0;
				width: 22px;
				height: 100%;
				border-left: 1px solid $border-color;
				background: #e6e6e6;

				.option {
					width: 20px;
					height: 20px;
					cursor: pointer;
				}

				.option-delete { @include _gallery-icon("krizic"); }
				.option-delete:hover { @include _gallery-icon("krizic-hover"); }

				.option-edit { @include _gallery-icon("uredi"); }
				.option-edit:hover { @include _gallery-icon("uredi-hover"); }

				.option-featured { @include _gallery-icon("auto"); }
				.option-featured:hover { @include _gallery-icon("auto-hover"); }

			}

			&:hover .options { display: block; }

			img {

				display: block;
				position: absolute;
				width: 100%;
				height: 100%;

			}

		}

		dd {

			display: none;
			height: 40px;
			padding: 6px;
			font-size: 12px;
			line-height: 14px;
			@include box-sizing(border-box);

		}

	}

}
