/* ==========================================================================
   Table for yellow pages
   ========================================================================== */

.table-yp.common-table {

	border-left: none;
	border-right: none;

}

.table-yp header {

	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;

}

.table-yp .table-wrapper colgroup {

	col:nth-of-type(1) { width: 55px; }
	col:nth-of-type(2) { width: auto; }

}

.table-yp .yp-img {

	img {

		display: block;
		width: 0;
		height: 0;
		border-top: 1px solid $border-color;
		@include box-sizing(border-box);

	}

	.innerWrapper img {

		position: absolute;
		width: 100%!important;
		height: 100%!important;

	}

}

.table-yp .yp-ad {

	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;

}

.table-yp.common-table .yp-banner td {

	border-top: 1px solid $border-color;
	background: none;

	img {
		border: 1px solid $border-color;
		margin-top: 5px;
		margin-bottom: 5px;
		width: 100%;
		@include box-sizing(border-box);
	}

}