/* ==========================================================================
   Table for ads
   ========================================================================== */

.table-ads {
	cursor: default;
}

.table-ads colgroup {

	col:nth-child(1)  { width: 25px; }
	col:nth-child(2)  { width: 85px; }
	col:nth-child(3)  { width: 85px; }
	col:nth-child(4)  { width: 85px; }
	col:nth-child(5)  { width: 60px; }
	col:nth-child(6)  { width: 90px; }
	col:nth-child(7)  { width: 80px; }
	col:nth-child(8)  { width: auto; }
	col:nth-child(9)  { width: 100px; }

}

.table-ads.common-table th {

	@include background-image(linear-gradient(white, #f7f7fa 1px, #ededee));
	border-bottom: none;

}

.table-ads.common-table .table-content {

	border-color: $border-color;
	border-top: none!important;
	border-left: none!important;
	border-right: none!important;
	border-bottom: none!important;

	tr:nth-child(even) td {
		background-color: $table-bg-odd-color;
	}

	td {

		border-color: $border-color;
		border-bottom: none;
		position: relative;

		.icon-dropdown {

			position: absolute;
			top: 5px;
			right: 5px;

		}

	}

}

.table-ads .vehicle-image {

	img {

		display: block;
		width: 0;
		height: 0;
		@include box-sizing(border-box);

	}

	.innerWrapper img {

		position: absolute;
		width: 100%!important;
		height: 100%!important;

	}

}

.table-ads footer {

	padding: 12px;

}
