/* ==========================================================================
   Table user driver license
   ========================================================================== */

.table-user-driver-license {

	th {

		text-align: center;
		width: 5%;

	}

}


.table-user-driver-license footer {

	@include box-sizing(border-box);

	border-top: 1px solid $border-color;
	height: 50px;
	padding-top: 10px;
	padding-left: 10px;

}


html.Webkit {

	.table-user-driver-license input[type=checkbox] {

		margin-left: 30%;
		width: auto;

	}

}