/* ==========================================================================
   Table vehicle license
   ========================================================================== */

.table-vehicle-license {

    .row-1,
    .row-4,
    .row-5,
    .row-6,
    .row-7 {
        col:nth-of-type(1) { width: 175px; }
        col:nth-of-type(2) { width: 175px; }
        col:nth-of-type(3) { width: 175px; }
    }

    .row-2 {
        col:nth-of-type(1) { width: 240px; }
        col:nth-of-type(2) { width: 240px; }
    }

    .row-3 {
        col:nth-of-type(1) { width: 175px; }
        col:nth-of-type(2) { width: 65px; }
        col:nth-of-type(3) { width: 175px; }
        col:nth-of-type(4) { width: 65px; }
    }

    .row-8,
    .row-9 {
        col:nth-of-type(1) { width: 175px; }
        col:nth-of-type(2) { width: 175px; }
    }

    .cols-4 col { width: 179px; }

    .col-type { width: 140px; }
    .col-manufacturer { width: 179px; }
    .col-type { width: 179px; }
    .col-model { width: auto; }

    .col-color { width: 238px; }
    .col-serial-numder { width: 238px; }
    .col-body-type { width: auto; }

    .col-seats { width: 179px; }
    .col-allowed-weight { width: 179px; }
    .col-empty-weight { width: 179px; }

    .col-manufactored-country { width: 179px; }
    .col-manufactored-year { width: 58px; }
    .col-registration-date { width: 179px; }
    .col-registration-year { width: 59px; }

    .col-axle { width: 179px; }
    .col-driving-axle { width: 179px; }

    .col-hook { width: 179px; }
    .col-anchor { width: 179px; }

}


.table-vehicle-license footer {

    @include box-sizing(border-box);

    border-top: 1px solid $border-color;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;

}


html.Webkit {

    .table-vehicle-license input[type=checkbox] {

        margin-left: 45%;
        width: auto;

    }

}