/* ==========================================================================
   Table user HAK
   ========================================================================== */

.table-user-hak {

	.col-number { width: 277px; }
	.col-expire-date { width: 190px; }
	.col-expire-year { width: 60px; }
	.col-type { }

	th {
		position: relative;

		.icon-x {
			position: absolute;
			top: 9px;
			right: 5px;
		}
	}

	.icon-dropdown {
		position: absolute;
		top: 5px;
		right: 2px;
	}

}

.table-user-hak footer {

	@include box-sizing(border-box);

	border-top: 1px solid $border-color;
	height: 50px;
	padding-top: 10px;
	padding-left: 10px;

}
