/* ==========================================================================
   Table vehicle lights
   ========================================================================== */

.table-vehicle-lights {

	colgroup col { width: 33%; }

}


.table-vehicle-lights footer {

    @include box-sizing(border-box);

    border-top: 1px solid $border-color;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;

}
