
// Compass
@import "compass";

/* ==========================================================================
   Variables
   ========================================================================== */

$header-nav-bg-color: #3a3a3a;
$header-text-color: #aeaeae;
$header-border-color: #222222; // placeholders
$border-color: #090909;
$text-color: #aeaeae;
$modal-input-text-color: #7e7e7e;
$modal-button-text-color: #e0df63;
$modal-input-border-hover-color: #555;

/* ==========================================================================
   Sprites
   ========================================================================== */

// Header inventory
@import "themes/dark/sprites/header-inventory-icons/*.png";
@include all-floaters-icons-sprites;

// Floaters
@import "themes/dark/sprites/floaters-icons/*.png";
@include all-floaters-icons-sprites;

/* ==========================================================================
   Layout
   ========================================================================== */

html body {

	background-color: #161616;
	background-image: url(../img/themes/dark/bg-grain.png);

}

html .header-button {

	border-color: $border-color;
	@include text-shadow(0px -1px 0px black);
	
	&:hover,
	&.active {
		
		background: #eee366 url(../img/themes/dark/button-arrow-bottom.png) no-repeat bottom center;
		@include text-shadow(0px 1px 0px rgba(255,255,255,0.4));
		
	}
	
}


html .page-header .top-wrapper {

	background-color: #292929;
	
	.top-content a {

		color: $text-color;
		@include text-shadow(0px -1px 0px black);
	
	}
		
}

html .page-header .header-wrapper {
	
	.logo {
	
		background-image: url(../img/themes/dark/placeholders/header-logo.png);
	
	}

	.banner {
	
		background-image: url(../img/themes/dark/placeholders/header-banner.png);
	
	}

}

html .page-header .navigation-wrapper {
	
	.row-wrapper {
		
		@include background-image(linear-gradient(#4c4c4c, #414141 1px, #323232));
			
	}

	.header-nav-inventory .dropdown-vozila {
	
		color: white;
	
	}
	
	.header-nav-inventory .alarms span {
	
		color: black;
		
	}

}

/* ==========================================================================
   Modals
   ========================================================================== */

html .common-modal {

		border-color: 1px solid $border-color;

}

html .common-modal header {

	border-color: 1px solid $border-color;
	background-color: #393939;
	@include background-image(linear-gradient(#4c4c4c, #414141 1px, #323232));

	h2 {

		color: white;
		@include text-shadow(0px -1px 0px black);

	}

	.close {

		background-image: url(../img/themes/dark/modal-close.png);

	}

}


html .common-modal .content {

	background-color: #2d2d2d;
	background-image: url(../img/themes/dark/modal-bg-stripes.png);
	border-top: 1px solid #3a3a3a;

	input {

		border-color: $border-color;
		color: $modal-input-text-color;
		background-color: #414141;
		@include background-image(linear-gradient(#313131, #414141 5px));

		&::-webkit-input-placeholder { color: $modal-input-text-color; }
		&:-moz-placeholder { color: $modal-input-text-color; }
		&:-ms-input-placeholder { color: $modal-input-text-color; }

		&:hover,
		&:focus {

			border-color: $modal-input-border-hover-color;

		}

	}

	button {

		border-color: $border-color;
		color: $modal-button-text-color;
		@include background-image(linear-gradient(#565656, #4b4b4b 1px, #3c3c3c));
		@include text-shadow(0px -1px 0px black);

		&:hover {

			border-color: $modal-input-border-hover-color;

		}

	}

}

/* ==========================================================================
   Floaters
   ========================================================================== */

html .common-floater {

	border-color: #040404;
	@include background-image(linear-gradient(#575757, #4c4c4c 1px, #404040));

	.title {

		border-bottom-color: #c4c4c4;

	}

}

html .floater-user {

	.user-img {

		border-color: black;

	}

	.user-options {

		a {

			color: #737373;

		}

		a:hover {

			color: white;

		}

	}

}

html .floater-vehicle {

	.vehicle-image {

		border-color: black;

	}

	.vehicle-options {

		a {

			color: #737373;

		}

		a:hover {

			color: white;

		}

	}

}

html .floater-fuel {

	.fuel-options a {

		color: #737373;

		&:hover {

			color: white;

		}

	}

}

html .floater-vehicle-photo {

	img {

		border-color: black;

	}

}
